<!-- <h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p> -->
<h1>Te Cuido</h1>
<p> <%= @description_company %> </p>
<p>Ofrezco servicios de consulta en fisioterapia personalizada para usted, su familia y en el ámbito
   empresarial por mi formación y licencia en    sistemas de gestión de salud y seguridad en el trabajo.
   Realizo el tratamiento de una amplia gama de pacientes, desde problemas de origen neurológico hasta
   pacientes con discapacidad motora, tanto adultos como niños. Utilizo gran variedad de terapias
   manuales y videos. Los tratamientos varían, pero el objetivo es el mismo,
   ayudar a mis pacientes a volver a sus actividades habituales, ya sea practicar deportes competitivos,
   caminar hasta el supermercado o realizar sus actividades laborales.</p>
