<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->

<a href="/welcome/index">Enlace a mi ruta</a>

<%#= link_to "Enlace a mi ruta", welcome_path %>
<%# construye por debajo un href %>



<%# ##
welcome_path # /welcome/index
welcome_url # http://localhost:3000/welcome/index %>
